NET "iTopClk" LOC = AH15 | IOSTANDARD = LVCMOS33;
NET "iTopRst_neg" LOC = E9 | IOSTANDARD = LVCMOS33;

NET "ioBufTwiVideoSda" LOC = T29 | IOSTANDARD = LVCMOS18 | SLEW = FAST | DRIVE = 16;
NET "oBufTwiVideoScl" LOC = U27 | IOSTANDARD = LVCMOS18 | SLEW = FAST | DRIVE = 16;

NET "oLedGreen[0]" LOC = H18 | IOSTANDARD = LVCMOS25;
NET "oLedGreen[1]" LOC = L18 | IOSTANDARD = LVCMOS25;
NET "oLedGreen[2]" LOC = G15 | IOSTANDARD = LVCMOS25;
NET "oLedGreen[3]" LOC = AD26 | IOSTANDARD = LVCMOS18;
NET "oLedGreen[4]" LOC = G16 | IOSTANDARD = LVCMOS25;
NET "oLedGreen[5]" LOC = AD25 | IOSTANDARD = LVCMOS18;
NET "oLedGreen[6]" LOC = AD24 | IOSTANDARD = LVCMOS18;
NET "oLedGreen[7]" LOC = AE24 | IOSTANDARD = LVCMOS18;
NET "iDipSwitch[0]" LOC = U25 | IOSTANDARD = LVCMOS18;
NET "iDipSwitch[1]" LOC = AG27 | IOSTANDARD = LVCMOS18;
NET "iDipSwitch[2]" LOC = AF25 | IOSTANDARD = LVCMOS18;
NET "iDipSwitch[3]" LOC = AF26 | IOSTANDARD = LVCMOS18;
NET "iDipSwitch[4]" LOC = AE27 | IOSTANDARD = LVCMOS18;
NET "iDipSwitch[5]" LOC = AE26 | IOSTANDARD = LVCMOS18;
NET "iDipSwitch[6]" LOC = AC25 | IOSTANDARD = LVCMOS18;
NET "iDipSwitch[7]" LOC = AC24 | IOSTANDARD = LVCMOS18;

NET "iVgaClk" LOC = AH18 | IOSTANDARD = LVCMOS33;
NET "iVgaHsync" LOC = AE7 | IOSTANDARD = LVCMOS33;
NET "iVgaVsync" LOC = Y6 | IOSTANDARD = LVCMOS33;
NET "iVgaDataRed[0]" LOC = AG5 | IOSTANDARD = LVCMOS33;
NET "iVgaDataRed[1]" LOC = AF5 | IOSTANDARD = LVCMOS33;
NET "iVgaDataRed[2]" LOC = W7 | IOSTANDARD = LVCMOS33;
NET "iVgaDataRed[3]" LOC = V7 | IOSTANDARD = LVCMOS33;
NET "iVgaDataRed[4]" LOC = AH5 | IOSTANDARD = LVCMOS33;
NET "iVgaDataRed[5]" LOC = AG6 | IOSTANDARD = LVCMOS33;
NET "iVgaDataRed[6]" LOC = Y11 | IOSTANDARD = LVCMOS33;
NET "iVgaDataRed[7]" LOC = W11 | IOSTANDARD = LVCMOS33;
NET "iVgaDataGreen[0]" LOC = Y8 | IOSTANDARD = LVCMOS33;
NET "iVgaDataGreen[1]" LOC = Y9 | IOSTANDARD = LVCMOS33;
NET "iVgaDataGreen[2]" LOC = AD4 | IOSTANDARD = LVCMOS33;
NET "iVgaDataGreen[3]" LOC = AD5 | IOSTANDARD = LVCMOS33;
NET "iVgaDataGreen[4]" LOC = AA6 | IOSTANDARD = LVCMOS33;
NET "iVgaDataGreen[5]" LOC = Y7 | IOSTANDARD = LVCMOS33;
NET "iVgaDataGreen[6]" LOC = AD6 | IOSTANDARD = LVCMOS33;
NET "iVgaDataGreen[7]" LOC = AE6 | IOSTANDARD = LVCMOS33;
NET "iVgaDataBlue[0]" LOC = AC4 | IOSTANDARD = LVCMOS33;
NET "iVgaDataBlue[1]" LOC = AC5 | IOSTANDARD = LVCMOS33;
NET "iVgaDataBlue[2]" LOC = AB6 | IOSTANDARD = LVCMOS33;
NET "iVgaDataBlue[3]" LOC = AB7 | IOSTANDARD = LVCMOS33;
NET "iVgaDataBlue[4]" LOC = AA5 | IOSTANDARD = LVCMOS33;
NET "iVgaDataBlue[5]" LOC = AB5 | IOSTANDARD = LVCMOS33;
NET "iVgaDataBlue[6]" LOC = AC7 | IOSTANDARD = LVCMOS33;
NET "iVgaDataBlue[7]" LOC = AD7 | IOSTANDARD = LVCMOS33;

NET "oDviClk_p" LOC = AL11 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "oDviClk_n" LOC = AL10 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "oDviRst" LOC = AK6 |  IOSTANDARD = LVCMOS33;
NET "oDviVsync" LOC = AM11 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "oDviHsync" LOC = AM12 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "oDviDe" LOC = AE8 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "oDviData[11]" LOC = AN14 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "oDviData[10]" LOC = AP14 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "oDviData[9]" LOC = AB10 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "oDviData[8]" LOC = AA10 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "oDviData[7]" LOC = AN13 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "oDviData[6]" LOC = AM13 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "oDviData[5]" LOC = AA8 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "oDviData[4]" LOC = AA9 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "oDviData[3]" LOC = AP12 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "oDviData[2]" LOC = AN12 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "oDviData[1]" LOC = AC8 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "oDviData[0]" LOC = AB8 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
